# 1) Pandas

Pandas is an open-source Python Library providing high-performance data manipulation 
and analysis tool using its powerful data structures. 

The name Pandas is derived from the word Panel Data – an Econometrics from Multidimensional data.

## Key Features of Pandas
- Fast and efficient DataFrame object with default and customized indexing.
- Tools for loading data into in-memory data objects from different file formats.
- Data alignment and integrated handling of missing data.
- Reshaping and pivoting of date sets.
- Label-based slicing, indexing and subsetting of large data sets.
- Columns from a data structure can be deleted or inserted.
- Group by data for aggregation and transformations.
- High performance merging and joining of data.
- Time Series functionality.

## Pandas deals with the following three data structures −
- Series
- DataFrame
- Panel
These data structures are built on top of Numpy array, which means they are fast.

## Dimension & Description
The best way to think of these data structures is that the higher dimensional data structure is a container of its lower dimensional data structure. 

For example, 

DataFrame is a container of Series, 

Panel is a container of DataFrame.

|Data| Structure|	Dimensions	Description|
|-|-|-|
|Series|	1|	1D labeled homogeneous array, sizeimmutable.|
|Data Frames|	2	|General 2D labeled, size-mutable tabular structure with potentially heterogeneously typed columns.|
|Panel	|3|	General 3D labeled, size-mutable array.|

Building and handling two or more dimensional arrays is a tedious task, burden is placed on the user to consider the orientation of the data set when writing functions. But using Pandas data structures, the mental effort of the user is reduced.

For example, with tabular data (DataFrame) it is more semantically helpful to think of the index (the rows) and the columns rather than axis 0 and axis 1.

# 2) Python Pandas - Series

Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index.

A pandas Series can be created using the following constructor −

In [ ]:
pandas.Series( data, index, dtype, copy)

In [5]:
# A basic series, which can be created is an Empty Series.
#import the pandas library and aliasing as pd
import pandas as pd
s = pd.Series()
print(s)

Series([], dtype: float64)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  after removing the cwd from sys.path.

In [7]:
# Create a Series from ndarray
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [9]:
# We passed the index values here. Now we can see the customized indexed values in the output.
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,101,102,103])
print(s)

100    a
101    b
102    c
103    d
dtype: object

In [11]:
# Create a Series from dict
import pandas as pd
import numpy as np
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data)
print(s)

a    0.0
b    1.0
c    2.0
dtype: float64

In [13]:
# Passing index
import pandas as pd
import numpy as np
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data,index=['b','c','d','a'])
print(s)

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [15]:
# Create a Series from Scalar
import pandas as pd
import numpy as np
s = pd.Series(5, index=[0, 1, 2, 3])
print(s)

0    5
1    5
2    5
3    5
dtype: int64

In [16]:
# Accessing Data from Series with Position
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve the first element
print(s[0])

1

In [18]:
# Retrieve the first three elements in the Series.
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve the first three element
print(s[:3])

a    1
b    2
c    3
dtype: int64

In [20]:
# Retrieve the last three elements.
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve the last three element
print(s[-3:])

c    3
d    4
e    5
dtype: int64

In [21]:
# Retrieve Data Using Label (Index)
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve a single element
print(s['a'])

1

In [23]:
# Retrieve multiple elements using a list of index label values.
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve multiple elements
print(s[['a','c','d']])

a    1
c    3
d    4
dtype: int64

In [ ]:
# If a label is not contained, an exception is raised.
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve multiple elements
print(s['f'])

# 3) Python Pandas - DataFrame

A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

- Features of DataFrame
- Potentially columns are of different types
- Size – Mutable
- Labeled axes (rows and columns)
- Can Perform Arithmetic operations on rows and columns

A pandas DataFrame can be created using the following constructor −

In [ ]:
pandas.DataFrame( data, index, columns, dtype, copy)

In [27]:
# Create an Empty DataFrame
#import the pandas library and aliasing as pd
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [29]:
# Create a DataFrame from Lists
import pandas as pd
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [31]:
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [32]:
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(df)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

## 3.1) Create a DataFrame from Dict of ndarrays / Lists
All the ndarrays must be of same length. If index is passed, then the length of the index should equal to the length of the arrays.

If no index is passed, then by default, index will be range(n), where n is the array length.

In [33]:
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [34]:
# Let us now create an indexed DataFrame using arrays.
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print(df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

## 3.2) Create a DataFrame from List of Dicts

List of Dictionaries can be passed as input data to create a DataFrame. The dictionary keys are by default taken as column names.

In [36]:
# The following example shows how to create a DataFrame by passing a list of dictionaries.
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print(df)

# Note − Observe, NaN (Not a Number) is appended in missing areas.

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [37]:
# The following example shows how to create a DataFrame by passing a list of dictionaries and the row indices.
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, index=['first', 'second'])
print(df)

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [38]:
# The following example shows how to create a DataFrame with a list of dictionaries, row indices, and column indices.
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])

#With two column indices with one index with other name
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])
print(df1)
print(df2)

        a   b
first   1   2
second  5  10
        a  b1
first   1 NaN
second  5 NaN

## 3.3) Create a DataFrame from Dict of Series

Dictionary of Series can be passed to form a DataFrame. The resultant index is the union of all the series indexes passed.

Note − Observe, for the series one, there is no label ‘d’ passed, but in the result, for the d label, NaN is appended with NaN.

Let us now understand column selection, addition, and deletion through examples.

In [39]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

## 3.4) Column Selection

We will understand this by selecting a column from the DataFrame.

In [40]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

## 3.5) Column Addition
We will understand this by adding a new column to an existing data frame.

In [41]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)

# Adding a new column to an existing DataFrame object with column label by passing new series

print ("Adding a new column by passing as Series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print(df)

print ("Adding a new column using the existing columns in DataFrame:")
df['four']=df['one']+df['three']

print(df)

Adding a new column by passing as Series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Adding a new column using the existing columns in DataFrame:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

## 3.6) Column Deletion
Columns can be deleted or popped; let us take an example to understand how.

In [42]:
# Using the previous DataFrame, we will delete a column
# using del function
import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), 
   'three' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d)
print ("Our dataframe is:")
print(df)

# using del function
print ("Deleting the first column using DEL function:")
del df['one']
print(df)

# using pop function
print ("Deleting another column using POP function:")
df.pop('two')
print(df)

Our dataframe is:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Deleting the first column using DEL function:
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
Deleting another column using POP function:
   three
a   10.0
b   20.0
c   30.0
d    NaN

## 3.7) Row Selection, Addition, and Deletion
We will now understand row selection, addition and deletion through examples. 

Let us begin with the concept of selection.

### 3.7.1) Selection by Label

Rows can be selected by passing row label to a loc function.

In [43]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df.loc['b'])

one    2.0
two    2.0
Name: b, dtype: float64

### 3.7.2) Selection by integer location
Rows can be selected by passing integer location to an iloc function.

In [44]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df.iloc[2])

one    3.0
two    3.0
Name: c, dtype: float64

### 3.7.3) Slice Rows
Multiple rows can be selected using ‘ : ’ operator.

In [45]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df[2:4])

   one  two
c  3.0    3
d  NaN    4

## 3.7.4) Addition of Rows
Add new rows to a DataFrame using the append function. This function will append the rows at the end.

In [46]:
import pandas as pd

df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)
print(df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

## 3.7.5) Deletion of Rows
Use index label to delete or drop rows from a DataFrame. If label is duplicated, then multiple rows will be dropped.

If you observe, in the above example, the labels are duplicate. Let us drop a label and will see how many rows will get dropped.

In [47]:
import pandas as pd

df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)

# Drop rows with label 0
df = df.drop(0)

print(df)

   a  b
1  3  4
1  7  8

# 4) Python Pandas - Xarray
-Pandas panel has been removed, explore Xarray later

# 5) Python Pandas - Basic Functionality

### Series Basic Functionality
|Sr.No.|	Attribute or Method & Description|
|-|-|
|1|axes<br> Returns a list of the row axis labels|
|2|dtype<br> Returns the dtype of the object.|
|3|empty<br> Returns True if series is empty.|
|4|ndim<br> Returns the number of dimensions of the underlying data, by definition 1.|
|5|size<br> Returns the number of elements in the underlying data.|
|6|values<br> Returns the Series as ndarray.|
|7|head()<br> Returns the first n rows.|
|8|tail()<br> Returns the last n rows.|

In [9]:
import pandas as pd
import numpy as np

#Create a series with 100 random numbers
s = pd.Series(np.random.randn(4))
print(s)

0   -1.458714
1    0.475064
2    0.456089
3   -0.015047
dtype: float64

In [10]:
# axes
# Returns the list of the labels of the series.
s = pd.Series(np.random.randn(4))
print("The axes are:")
print(s.axes)

The axes are:
[RangeIndex(start=0, stop=4, step=1)]

In [11]:
# empty
# Returns the Boolean value saying whether the Object is empty or not. True indicates that the object is empty.
s = pd.Series(np.random.randn(4))
print("Is the Object empty?")
print(s.empty)

Is the Object empty?
False

In [12]:
# ndim
# Returns the number of dimensions of the object. 
# By definition, a Series is a 1D data structure, so it returns
s = pd.Series(np.random.randn(4))
print ("The dimensions of the object:")
print(s.ndim)

The dimensions of the object:
1

In [13]:
# size
# Returns the size(length) of the series.
s = pd.Series(np.random.randn(2))
print("The size of the object:")
print(s.size)

The size of the object:
2

In [17]:
# values
# Returns the actual data in the series as an array.
s = pd.Series(np.random.randn(4))
print ("The actual data series is:")
print(s.values)

The actual data series is:
[ 2.12879776  1.5501582   0.34871063 -1.58515656]

In [20]:
# Head & Tail
# To view a small sample of a Series or the DataFrame object, use the head() and the tail() methods.
s = pd.Series(np.random.randn(4))
print ("The original series is:")
print (s)
print ("The first two rows of the data series:")
print (s.head(2))
print ("The last two rows of the data series:")
print (s.tail(2))

The original series is:
0   -0.526445
1   -0.602228
2    0.022171
3   -1.246760
dtype: float64
The first two rows of the data series:
0   -0.526445
1   -0.602228
dtype: float64
The last two rows of the data series:
2    0.022171
3   -1.246760
dtype: float64

## DataFrame Basic Functionality

|Sr.No.	| Attribute or Method & Description|
|-|-|
|1	|T <br> Transposes rows and columns.|
|2	|axes <br> Returns a list with the row axis labels and column axis labels as the only members.|
|3	|dtypes <br> Returns the dtypes in this object.|
|4	|empty <br> True if NDFrame is entirely empty [no items]; if any of the axes are of length 0.|
|5 |ndim <br> Number of axes / array dimensions.|
|6 |shape <br> Returns a tuple representing the dimensionality of the DataFrame.|
|7 |size <br> Number of elements in the NDFrame.|
|8 |values <br> Numpy representation of NDFrame.|
|9 |head() <br> Returns the first n rows.|
|10 |tail() <br> Returns last n rows.|

In [22]:
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("Our data series is:")
print (df)

Our data series is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80

In [23]:
# T (Transpose)
# Returns the transpose of the DataFrame. The rows and columns will interchange.
# Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

# Create a DataFrame
df = pd.DataFrame(d)
print ("The transpose of the data series is:")
print (df.T)

The transpose of the data series is:
           0      1      2     3      4      5     6
Name     Tom  James  Ricky   Vin  Steve  Smith  Jack
Age       25     26     25    23     30     29    23
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8

In [24]:
# axes
# Returns the list of row axis labels and column axis labels.
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("Row axis labels and column axis labels are:")
print (df.axes)

Row axis labels and column axis labels are:
[RangeIndex(start=0, stop=7, step=1), Index(['Name', 'Age', 'Rating'], dtype='object')]

In [25]:
# dtypes
# Returns the data type of each column.
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("The data types of each column are:")
print (df.dtypes)

The data types of each column are:
Name       object
Age         int64
Rating    float64
dtype: object

In [26]:
# empty
# Returns the Boolean value saying whether the Object is empty or not; True indicates that the object is empty.

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
 
#Create a DataFrame
df = pd.DataFrame(d)
print ("Is the object empty?")
print (df.empty)

Is the object empty?
False

In [27]:
# ndim
# Returns the number of dimensions of the object. By definition, DataFrame is a 2D object.
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("Our object is:")
print (df)
print ("The dimension of the object is:")
print (df.ndim)

Our object is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80
The dimension of the object is:
2

In [28]:
# shape
# Returns a tuple representing the dimensionality of the DataFrame. 
# Tuple (a,b), where a represents the number of rows and b represents the number of columns.

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
 
#Create a DataFrame
df = pd.DataFrame(d)
print ("Our object is:")
print (df)
print ("The shape of the object is:")
print (df.shape)

Our object is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80
The shape of the object is:
(7, 3)

In [29]:
# size
# Returns the number of elements in the DataFrame.
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
 
#Create a DataFrame
df = pd.DataFrame(d)
print ("Our object is:")
print (df)
print ("The total number of elements in our object is:")
print (df.size)

Our object is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80
The total number of elements in our object is:
21

In [30]:
# values
# Returns the actual data in the DataFrame as an NDarray.
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
 
#Create a DataFrame
df = pd.DataFrame(d)
print ("Our object is:")
print (df)
print ("The actual data in our data frame is:")
print (df.values)

Our object is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80
The actual data in our data frame is:
[['Tom' 25 4.23]
 ['James' 26 3.24]
 ['Ricky' 25 3.98]
 ['Vin' 23 2.56]
 ['Steve' 30 3.2]
 ['Smith' 29 4.6]
 ['Jack' 23 3.8]]

In [33]:
# Head & Tail
# To view a small sample of a DataFrame object, use the head() and tail() methods.
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("Our data frame is:")
print (df)
print ("The first two rows of the data frame is:")
print (df.head(2))
print ("The last two rows of the data frame is:")
print (df.tail(2))

Our data frame is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80
The first two rows of the data frame is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
The last two rows of the data frame is:
    Name  Age  Rating
5  Smith   29     4.6
6   Jack   23     3.8

# 6) Python Pandas - Descriptive Statistics

A large number of methods collectively compute descriptive statistics and other related operations on DataFrame. 

Most of these are aggregations like sum(), mean(), but some of them, like sumsum(), produce an object of the same size. 

Generally speaking, these methods take an axis argument, just like ndarray.{sum, std, ...}, but the axis can be specified by name or integer

DataFrame − “index” (axis=0, default), “columns” (axis=1)

In [34]:
# Let us create a DataFrame and use this object throughout this chapter for all the operations.
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print(df)

      Name  Age  Rating
0      Tom   25    4.23
1    James   26    3.24
2    Ricky   25    3.98
3      Vin   23    2.56
4    Steve   30    3.20
5    Smith   29    4.60
6     Jack   23    3.80
7      Lee   34    3.78
8    David   40    2.98
9   Gasper   30    4.80
10  Betina   51    4.10
11  Andres   46    3.65

In [35]:
# sum()
# Returns the sum of the values for the requested axis. 
# By default, axis is index (axis=0).
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print(df.sum())

Name      TomJamesRickyVinSteveSmithJackLeeDavidGasperBe...
Age                                                     382
Rating                                                44.92
dtype: object

In [38]:
# axis=1
# This syntax will give the output as shown below.
df = pd.DataFrame(d)
print(df.sum(1))

0     29.23
1     29.24
2     28.98
3     25.56
4     33.20
5     33.60
6     26.80
7     37.78
8     42.98
9     34.80
10    55.10
11    49.65
dtype: float64

In [42]:
# mean()
# Returns the average value
df = pd.DataFrame(d)
print(df.mean())

Age       31.833333
Rating     3.743333
dtype: float64

In [44]:
# std()
# Returns the Bressel standard deviation of the numerical columns.
df = pd.DataFrame(d)
print(df.std())

Age       9.232682
Rating    0.661628
dtype: float64

## 6.1) Functions & Description
Let us now understand the functions under Descriptive Statistics in Python Pandas. The following table list down the important functions −

|Sr.No.	|Function	|Description|
|-|-|-|
|1	|count()	|Number of non-null observations|
|2	|sum()	|Sum of values|
|3	|mean()	|Mean of Values|
|4	|median()	|Median of Values|
|5	|mode()	|Mode of values|
|6	|std()	|Standard Deviation of the Values|
|7	|min()	|Minimum Value|
|8	|max()	|Maximum Value|
|9	|abs()	|Absolute Value|
|10	|prod()	|Product of Values|
|11	|cumsum()	|Cumulative Sum|
|12	|cumprod()	|Cumulative Product|

Functions like sum(), cumsum() work with both numeric and character (or) string data elements without any error. 

Though n practice, character aggregations are never used generally, these functions do not throw any exception.

Functions like abs(), cumprod() throw exception when the DataFrame contains character or string data because such operations cannot be performed.

In [46]:
# Summarizing Data
# The describe() function computes a summary of statistics pertaining to the DataFrame columns.
df = pd.DataFrame(d)
print(df.describe())

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

This function gives the mean, std and IQR values. 

And, function excludes the character columns and given summary about numeric columns. 'include' is the argument which is used to pass necessary information regarding what columns need to be considered for summarizing. 

Takes the list of values; by default, 'number'.

object − Summarizes String columns

number − Summarizes Numeric columns

all − Summarizes all columns together (Should not pass it as a list value)

Now, use the following statement in the program and check the output −

In [48]:
print(df.describe(include=['object']))

        Name
count     12
unique    12
top     Jack
freq       1

In [55]:
print(df.describe(include='all'))

        Name        Age     Rating
count     12  12.000000  12.000000
unique    12        NaN        NaN
top     Jack        NaN        NaN
freq       1        NaN        NaN
mean     NaN  31.833333   3.743333
std      NaN   9.232682   0.661628
min      NaN  23.000000   2.560000
25%      NaN  25.000000   3.230000
50%      NaN  29.500000   3.790000
75%      NaN  35.500000   4.132500
max      NaN  51.000000   4.800000

In [56]:
print(df.describe(include='number'))

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

In [57]:
print(df.describe(include='number').loc['mean'])

Age       31.833333
Rating     3.743333
Name: mean, dtype: float64

# 7) Python Pandas - Function Application

To apply your own or another library’s functions to Pandas objects, you should be aware of the three important methods. 

The methods have been discussed below. The appropriate method to use depends on whether your function expects to operate on an entire DataFrame, row- or column-wise, or element wise.

- Table wise Function Application: pipe()
- Row or Column Wise Function Application: apply()
- Element wise Function Application: applymap()

Custom operations can be performed by passing the function and the appropriate number of parameters as pipe arguments. Thus, operation is performed on the whole DataFrame.

For example, add a value 2 to all the elements in the DataFrame.

In [78]:
def adder(ele1,ele2):
   return ele1+ele2

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)
print('---------------')
print(df.pipe(adder,2))

       col1      col2      col3
0  1.913940 -1.253825  0.083235
1 -0.662172 -0.182668 -0.109724
2  1.984517 -0.464194  0.110963
3  1.508906  0.585394 -1.886177
4  1.480049 -1.346783  0.760450
---------------
       col1      col2      col3
0  3.913940  0.746175  2.083235
1  1.337828  1.817332  1.890276
2  3.984517  1.535806  2.110963
3  3.508906  2.585394  0.113823
4  3.480049  0.653217  2.760450

## 7.1) Row or Column Wise Function Application
Arbitrary functions can be applied along the axes of a DataFrame or Panel using the apply() method, which, like the descriptive statistics methods, takes an optional axis argument. 

By default, the operation performs column wise, taking each column as an array-like.

In [77]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)
print('----------')
print(df.apply(np.mean))

       col1      col2      col3
0  0.659650 -0.027919  0.097700
1 -0.538469 -1.605197 -0.376595
2 -1.581943  0.530840 -0.943131
3  0.201015  1.977503  1.212939
4  0.391447  0.235031  0.715727
----------
col1   -0.173660
col2    0.222052
col3    0.141328
dtype: float64

In [76]:
# By passing axis parameter, operations can be performed row wise.
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)
print('----------')
print(df.apply(np.mean,axis=1))

       col1      col2      col3
0 -0.419601 -0.584702  2.213787
1 -0.016674  0.463008  2.181432
2 -0.272618  1.238778  0.905509
3  0.977969  1.151887  1.159171
4 -1.331923  1.387525 -0.183433
----------
0    0.403162
1    0.875922
2    0.623890
3    1.096342
4   -0.042610
dtype: float64

In [75]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)
print('----------')
print(df.apply(lambda x: x.max() - x.min()))

       col1      col2      col3
0 -1.234123  0.741644  1.054229
1 -3.086060  1.101233  0.351777
2  0.053133  0.635425 -0.353082
3  0.410869 -1.892197 -0.625813
4  0.294298  0.163654  1.864004
----------
col1    3.496928
col2    2.993430
col3    2.489817
dtype: float64

## 7.2) Element Wise Function Application
Not all functions can be vectorized <br>
(neither the NumPy arrays which return another array nor any value), 

the methods applymap() on DataFrame 

and analogously map() on Series 

accept any Python function taking a single value and returning a single value.

In [74]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)
print('----------')
# My custom function
print(df['col1'].map(lambda x:x*100))

       col1      col2      col3
0 -1.018312  0.908817  0.055768
1  0.620019 -0.863014 -0.232023
2  0.577737  0.354875  0.216955
3 -0.771666 -0.373549  0.315801
4  0.314559 -0.548544  0.943734
----------
0   -101.831205
1     62.001871
2     57.773666
3    -77.166569
4     31.455869
Name: col1, dtype: float64

In [79]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)
print('----------')
print(df.applymap(lambda x:x*100))

       col1      col2      col3
0 -0.312702  0.203102  0.786745
1  0.102080 -1.600120 -0.014638
2  0.781406 -0.509548  0.779168
3 -0.987532  0.944156  0.602379
4  1.556662  1.100223 -0.676889
----------
         col1        col2       col3
0  -31.270225   20.310152  78.674451
1   10.208040 -160.012004  -1.463849
2   78.140562  -50.954839  77.916843
3  -98.753237   94.415650  60.237946
4  155.666230  110.022277 -67.688942

# 8) Python Pandas - Reindexing

Reindexing changes the row labels and column labels of a DataFrame. 

To reindex means to conform the data to match a given set of labels along a particular axis.

Multiple operations can be accomplished through indexing like −

Reorder the existing data to match a new set of labels.

Insert missing value (NA) markers in label locations where no data for the label existed.

In [80]:
import pandas as pd
import numpy as np

N=20

df = pd.DataFrame({
   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
   'x': np.linspace(0,stop=N-1,num=N),
   'y': np.random.rand(N),
   'C': np.random.choice(['Low','Medium','High'],N).tolist(),
   'D': np.random.normal(100, 10, size=(N)).tolist()
})

#reindex the DataFrame
df_reindexed = df.reindex(index=[0,2,5], columns=['A', 'C', 'B'])

print(df_reindexed)

           A       C   B
0 2016-01-01    High NaN
2 2016-01-03    High NaN
5 2016-01-06  Medium NaN

## 8.1) Reindex to Align with Other Objects
You may wish to take an object and reindex its axes to be labeled the same as another object. Consider the following example to understand the same.

Here, the df1 DataFrame is altered and reindexed like df2. 

The column names should be matched or else NAN will be added for the entire column label.

In [86]:
df1 = pd.DataFrame(np.random.randn(10,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(7,3),columns=['col1','col2','col3'])
df3 = pd.DataFrame(np.random.randn(2,2),columns=['col1','col2'])
df4 = pd.DataFrame(np.random.randn(4,4),columns=['col1','col2','col3','col4'])
print(df1)
print('------')
df1 = df1.reindex_like(df2)
print(df1)
print('------')
df1 = df1.reindex_like(df3)
print(df1)
print('------')
df1 = df1.reindex_like(df4)
print(df1)

       col1      col2      col3
0  1.206518 -0.951724  0.115935
1 -0.513212  1.469051  0.163935
2 -0.976731  0.434842 -0.608216
3 -1.079990  1.213452 -0.397083
4  0.496757  2.049719  1.034744
5 -0.638728 -0.307256  1.221415
6 -0.508381  0.053515 -1.646328
7 -0.414141 -0.008552  1.307207
8  0.966929  0.677408 -0.694104
9 -2.015466 -2.130360  0.736448
------
       col1      col2      col3
0  1.206518 -0.951724  0.115935
1 -0.513212  1.469051  0.163935
2 -0.976731  0.434842 -0.608216
3 -1.079990  1.213452 -0.397083
4  0.496757  2.049719  1.034744
5 -0.638728 -0.307256  1.221415
6 -0.508381  0.053515 -1.646328
------
       col1      col2
0  1.206518 -0.951724
1 -0.513212  1.469051
------
       col1      col2  col3  col4
0  1.206518 -0.951724   NaN   NaN
1 -0.513212  1.469051   NaN   NaN
2       NaN       NaN   NaN   NaN
3       NaN       NaN   NaN   NaN

## 8.2) Filling while ReIndexing

reindex() takes an optional parameter method which is a filling method with values as follows −

pad/ffill − Fill values forward

bfill/backfill − Fill values backward

nearest − Fill from the nearest index values

In [87]:
df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(2,3),columns=['col1','col2','col3'])

# Padding NAN's
print (df2.reindex_like(df1))

# Now Fill the NAN's with preceding Values
print ("Data Frame with Forward Fill:")
print (df2.reindex_like(df1,method='ffill'))

       col1      col2      col3
0  1.180596 -1.979792  0.979817
1  0.652017  0.427577 -1.281322
2       NaN       NaN       NaN
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN
Data Frame with Forward Fill:
       col1      col2      col3
0  1.180596 -1.979792  0.979817
1  0.652017  0.427577 -1.281322
2  0.652017  0.427577 -1.281322
3  0.652017  0.427577 -1.281322
4  0.652017  0.427577 -1.281322
5  0.652017  0.427577 -1.281322

## 8.3) Limits on Filling while Reindexing

The limit argument provides additional control over filling while reindexing. 

Limit specifies the maximum count of consecutive matches. 

Let us consider the following example to understand the same −

Note − Observe, only the 7th row is filled by the preceding 6th row. Then, the rows are left as they are.

In [88]:
df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(2,3),columns=['col1','col2','col3'])

# Padding NAN's
print (df2.reindex_like(df1))

# Now Fill the NAN's with preceding Values
print ("Data Frame with Forward Fill limiting to 1:")
print (df2.reindex_like(df1,method='ffill',limit=1))

       col1      col2      col3
0 -1.882952 -0.722276 -0.566703
1 -1.319018 -1.163026 -0.694021
2       NaN       NaN       NaN
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN
Data Frame with Forward Fill limiting to 1:
       col1      col2      col3
0 -1.882952 -0.722276 -0.566703
1 -1.319018 -1.163026 -0.694021
2 -1.319018 -1.163026 -0.694021
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN

## 8.4) Renaming
The rename() method allows you to relabel an axis based on some mapping (a dict or Series) or an arbitrary function.

Let us consider the following example to understand this −

In [89]:
df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
print (df1)

print ("After renaming the rows and columns:")
print (df1.rename(columns={'col1' : 'c1', 'col2' : 'c2'},
index = {0 : 'apple', 1 : 'banana', 2 : 'durian'}))

       col1      col2      col3
0 -0.196776 -0.834282 -1.129571
1 -0.511678 -0.782796  0.089167
2 -0.391352 -0.569292  0.718482
3  0.284758 -0.843523 -0.172946
4  0.401410  0.999131 -0.594649
5 -0.069883 -1.766336 -1.764387
After renaming the rows and columns:
              c1        c2      col3
apple  -0.196776 -0.834282 -1.129571
banana -0.511678 -0.782796  0.089167
durian -0.391352 -0.569292  0.718482
3       0.284758 -0.843523 -0.172946
4       0.401410  0.999131 -0.594649
5      -0.069883 -1.766336 -1.764387

# 9) Python Pandas - Iteration

The behavior of basic iteration over Pandas objects depends on the type. 

When iterating over a Series, it is regarded as array-like, and basic iteration produces the values. Other data structures, like DataFrame and Panel, follow the dict-like convention of iterating over the keys of the objects.

In short, basic iteration (for i in object) produces −

Series − values

DataFrame − column labels

Panel − item labels

## Iterating a DataFrame
Iterating a DataFrame gives column names. Let us consider the following example to understand the same.

In [91]:
N=20
df = pd.DataFrame({
   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
   'x': np.linspace(0,stop=N-1,num=N),
   'y': np.random.rand(N),
   'C': np.random.choice(['Low','Medium','High'],N).tolist(),
   'D': np.random.normal(100, 10, size=(N)).tolist()
   })

for col in df:
   print (col)

A
x
y
C
D

## iteritems()
Iterates over each column as key, value pair with label as key and column value as a Series object.

In [92]:
df = pd.DataFrame(np.random.randn(4,3),columns=['col1','col2','col3'])
for key,value in df.iteritems():
   print (key,value)

col1 0    0.516344
1    0.373297
2   -1.359600
3   -0.457608
Name: col1, dtype: float64
col2 0    0.275769
1    2.138695
2   -1.307691
3    1.727049
Name: col2, dtype: float64
col3 0   -0.588594
1    1.619734
2    0.195442
3    0.522783
Name: col3, dtype: float64

## iterrows()
iterrows() returns the iterator yielding each index value along with a series containing the data in each row.

In [93]:
df = pd.DataFrame(np.random.randn(4,3),columns = ['col1','col2','col3'])
for row_index,row in df.iterrows():
   print (row_index,row)

0 col1    1.742466
col2   -0.190905
col3   -0.688590
Name: 0, dtype: float64
1 col1    0.176350
col2    0.361827
col3   -0.204579
Name: 1, dtype: float64
2 col1   -2.227340
col2   -0.158842
col3   -2.192448
Name: 2, dtype: float64
3 col1    0.142847
col2   -0.483820
col3   -0.158134
Name: 3, dtype: float64

## itertuples()
itertuples() method will return an iterator yielding a named tuple for each row in the DataFrame. 

The first element of the tuple will be the row’s corresponding index value, while the remaining values are the row values.

In [94]:
df = pd.DataFrame(np.random.randn(4,3),columns = ['col1','col2','col3'])
for row in df.itertuples():
    print (row)

Pandas(Index=0, col1=-0.46972328579244405, col2=3.143296503210067, col3=-0.039911479524954746)
Pandas(Index=1, col1=1.2272742934665708, col2=1.5879282796288032, col3=-0.24122426168704922)
Pandas(Index=2, col1=0.1916165555742965, col2=1.1366746114348907, col3=0.16655503325078297)
Pandas(Index=3, col1=2.771346027772093, col2=0.8603069676375422, col3=0.9517625234075735)

# 10) Python Pandas - Sorting

There are two kinds of sorting available in Pandas. They are −

- By label
- By Actual Value

In [96]:
unsorted_df=pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns=['col2','col1'])
print (unsorted_df)

       col2      col1
1  0.761392 -0.019561
4 -1.502611  1.650270
6  1.051382  0.124045
2 -1.995197  0.273147
3  0.432691  1.035238
5  0.045451 -0.033926
9  0.088644 -0.551866
8 -1.107953  0.116830
0 -0.689022 -0.898038
7  1.112481 -1.721484

## By Label
Using the sort_index() method, by passing the axis arguments and the order of sorting, DataFrame can be sorted. By default, sorting is done on row labels in ascending orde

In [98]:
unsorted_df = pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns = ['col2','col1'])

sorted_df=unsorted_df.sort_index()
print (sorted_df)

       col2      col1
0 -0.629999  0.015565
1  0.962501  0.008565
2 -0.858136 -0.587373
3  0.680760  0.197507
4  0.255097  1.449897
5 -0.867368 -0.544947
6  1.654593  1.891764
7 -0.076118  0.072947
8 -2.581441 -2.016118
9 -0.158631 -0.204769

## Order of Sorting
By passing the Boolean value to ascending parameter, the order of the sorting can be controlled. Let us consider the following example to understand the same.

In [102]:
unsorted_df = pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns = ['col2','col1'])

sorted_df = unsorted_df.sort_index(ascending=False)
print (sorted_df)

       col2      col1
9  0.320175  0.717297
8  1.313146 -1.854825
7  0.741328 -0.707559
6 -0.873185  0.609666
5 -1.409327 -0.939388
4  0.493388 -1.195138
3  0.806810  0.681326
2 -0.259036  0.435611
1  0.352179  0.887263
0  0.095931 -0.800361

## Sort the Columns
By passing the axis argument with a value 0 or 1, the sorting can be done on the column labels. By default, axis=0, sort by row. Let us consider the following example to understand the same.

In [103]:
unsorted_df = pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns = ['col2','col1'])
 
sorted_df=unsorted_df.sort_index(axis=1)

print (sorted_df)

       col1      col2
1  0.041546 -0.517166
4 -0.806516  0.640516
6 -1.273199  2.095434
2  1.251439  0.137462
3  0.694747  0.576557
5  0.756727  0.087464
9  1.181048 -0.900617
8  1.474624  0.392552
0  0.668391  0.318459
7 -0.598738 -0.694271

## By Value
Like index sorting, sort_values() is the method for sorting by values. It accepts a 'by' argument which will use the column name of the DataFrame with which the values are to be sorted.

In [106]:
unsorted_df = pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
sorted_df = unsorted_df.sort_values(by='col1')

print (sorted_df)

   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1

Observe, col1 values are sorted and the respective col2 value and row index will alter along with col1. Thus, they look unsorted.

'by' argument takes a list of column values.

In [107]:
unsorted_df = pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
sorted_df = unsorted_df.sort_values(by=['col1','col2'])

print (sorted_df)

   col1  col2
2     1     2
1     1     3
3     1     4
0     2     1

## Sorting Algorithm
sort_values() provides a provision to choose the algorithm from mergesort, heapsort and quicksort. 

Mergesort is the only stable algorithm.

In [108]:
unsorted_df = pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
sorted_df = unsorted_df.sort_values(by='col1' ,kind='mergesort')

print (sorted_df)

   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1

# 11) Python Pandas - Working with Text Data

Pandas provides a set of string functions which make it easy to operate on string data. Most importantly, these functions ignore (or exclude) missing/NaN values.

|Sr.No|	Function & Description|
|-|-|
|1	|lower() Converts strings in the Series/Index to lower case.|
|2	|upper() Converts strings in the Series/Index to upper case.|
|3	|len() Computes String length().|
|4	|strip()Helps strip whitespace(including newline) from each string in the Series/index from both the sides.|
|5	|split(' ') Splits each string with the given pattern.|
|6	|cat(sep=' ') Concatenates the series/index elements with given separator.|
|7	|get_dummies() Returns the DataFrame with One-Hot Encoded values.|
|8	|contains(pattern) Returns a Boolean value True for each element if the substring contains in the element, else False.|
|9	|replace(a,b) Replaces the value a with the value b.|
|10	|repeat(value) Repeats each element with specified number of times.|
|11	|count(pattern) Returns count of appearance of pattern in each element.|
|12	|startswith(pattern) Returns true if the element in the Series/Index starts with the pattern.|
|13	|endswith(pattern) Returns true if the element in the Series/Index ends with the pattern.|
|14	|find(pattern) Returns the first position of the first occurrence of the pattern.|
|15	|findall(pattern) Returns a list of all occurrence of the pattern.|
|16	|swapcase Swaps the case lower/upper.|
|17	|islower() Checks whether all characters in each string in the Series/Index in lower case or not. Returns Boolean|
|18	|isupper() Checks whether all characters in each string in the Series/Index in upper case or not. Returns Boolean.|
|19	|isnumeric() Checks whether all characters in each string in the Series/Index are numeric. Returns Boolean|

In [111]:
# lower()
s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234','SteveSmith'])
print (s.str.lower())

0             tom
1    william rick
2            john
3         alber@t
4             NaN
5            1234
6      stevesmith
dtype: object

In [112]:
# upper()
print (s.str.upper())

0             TOM
1    WILLIAM RICK
2            JOHN
3         ALBER@T
4             NaN
5            1234
6      STEVESMITH
dtype: object

In [113]:
# len()
print (s.str.len())

0     3.0
1    12.0
2     4.0
3     7.0
4     NaN
5     4.0
6    10.0
dtype: float64

In [114]:
# strip()
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print (s)
print ("After Stripping:")
print (s.str.strip())

0             Tom
1     William Rick
2             John
3          Alber@t
dtype: object
After Stripping:
0             Tom
1    William Rick
2            John
3         Alber@t
dtype: object

In [115]:
# split(pattern)
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print (s)
print ("Split Pattern:")
print (s.str.split(' '))

0             Tom
1     William Rick
2             John
3          Alber@t
dtype: object
Split Pattern:
0              [Tom, ]
1    [, William, Rick]
2               [John]
3            [Alber@t]
dtype: object

In [116]:
# cat(sep=pattern)
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print (s.str.cat(sep='_'))

Tom _ William Rick_John_Alber@t

In [117]:
# get_dummies()
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print (s.str.get_dummies())

    William Rick  Alber@t  John  Tom
0              0        0     0     1
1              1        0     0     0
2              0        0     1     0
3              0        1     0     0

In [119]:
# contains ()

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print (s.str.contains(' '))

0     True
1     True
2    False
3    False
dtype: bool

In [120]:
# replace(a,b)
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print (s)
print ("After replacing @ with $:")
print (s.str.replace('@','$'))

0             Tom
1     William Rick
2             John
3          Alber@t
dtype: object
After replacing @ with $:
0             Tom
1     William Rick
2             John
3          Alber$t
dtype: object

In [121]:
# repeat(value)
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print (s.str.repeat(2))

0                      Tom Tom
1     William Rick William Rick
2                      JohnJohn
3                Alber@tAlber@t
dtype: object

In [122]:
# count(pattern) 
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print ("The number of 'm's in each string:")
print (s.str.count('m'))

The number of 'm's in each string:
0    1
1    1
2    0
3    0
dtype: int64

In [123]:
# startswith(pattern)

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print ("Strings that start with 'T':")
print (s.str. startswith ('T'))

Strings that start with 'T':
0     True
1    False
2    False
3    False
dtype: bool

In [124]:
# endswith(pattern)
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print ("Strings that end with 't':")
print (s.str.endswith('t'))

Strings that end with 't':
0    False
1    False
2    False
3     True
dtype: bool

In [125]:
# find(pattern)
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print (s.str.find('e'))

0   -1
1   -1
2   -1
3    3
dtype: int64

In [126]:
# findall(pattern)

s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print (s.str.findall('e'))

0     []
1     []
2     []
3    [e]
dtype: object

In [127]:
# swapcase()

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t'])
print (s.str.swapcase())

0             tOM
1    wILLIAM rICK
2            jOHN
3         aLBER@T
dtype: object

In [128]:
# islower()

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t'])
print (s.str.islower())

0    False
1    False
2    False
3    False
dtype: bool

In [129]:
# isupper()

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t'])

print (s.str.isupper())

0    False
1    False
2    False
3    False
dtype: bool

In [130]:
# snumeric()

s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t'])

print (s.str.isnumeric())

0    False
1    False
2    False
3    False
dtype: bool

# 12) Python Pandas - Options and Customization

Pandas provide API to customize some aspects of its behavior, display is being mostly used.

The API is composed of five relevant functions. They are −

- get_option()
- set_option()
- reset_option()
- describe_option()
- option_context()

Let us now understand how the functions operate.

### display.max_rows
Displays the default number of value. Interpreter reads this value and displays the rows with this value as upper limit to display.

In [131]:
import pandas as pd
print (pd.get_option("display.max_rows"))

60

### display.max_columns
Displays the default number of value. Interpreter reads this value and displays the rows with this value as upper limit to display.

In [132]:
import pandas as pd
print (pd.get_option("display.max_columns"))

20

Here, 60 and 20 are the default configuration parameter values.

### set_option(param,value)
set_option takes two arguments and sets the value to the parameter as shown below −

In [134]:
pd.set_option("display.max_rows",80)
print (pd.get_option("display.max_rows"))

pd.set_option("display.max_columns",30)
print (pd.get_option("display.max_columns"))

80
30

### reset_option(param)
reset_option takes an argument and sets the value back to the default value.

In [135]:
pd.reset_option("display.max_rows")
print (pd.get_option("display.max_rows"))

60

### describe_option(param)
describe_option prints the description of the argument.

In [136]:
import pandas as pd
pd.describe_option("display.max_rows")

display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 60]

### option_context()
option_context context manager is used to set the option in with statement temporarily. Option values are restored automatically when you exit the with block −

In [137]:
import pandas as pd
with pd.option_context("display.max_rows",10):
   print(pd.get_option("display.max_rows"))
   print(pd.get_option("display.max_rows"))

10
10

# 13) Python Pandas - Indexing and Selecting Data

|Sr.No|	Indexing & Description|
|-|-|
|1|	.loc() Label based|
|2|	.iloc() Integer based|
|3|	.ix() Both Label and Integer based|

## .loc()
Pandas provide various methods to have purely label based indexing. When slicing, the start bound is also included. 

Integers are valid labels, but they refer to the label and not the position.

.loc() has multiple access methods like −

- A single scalar label
- A list of labels
- A slice object
- A Boolean array

loc takes two single/list/range operator separated by ','. The first one indicates the row and the second one indicates columns.

In [141]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], 
columns = ['A', 'B', 'C', 'D'])

print(df)
print('--------')
#select all rows for a specific column
print (df.loc[:,'A'])

          A         B         C         D
a -1.020798 -0.029458  0.206830 -0.020901
b -1.107771  0.424096  1.647831  0.682213
c -1.065031 -0.003648  2.348542 -1.955054
d  0.994695  1.643610 -0.871996 -0.832421
e -0.256169 -0.429726 -0.169313  0.746175
f  0.509702  0.615902 -1.663595 -0.346689
g -1.259744  0.972789  1.330269 -0.369581
h -1.287598  0.107915 -0.847324 -0.785353
--------
a   -1.020798
b   -1.107771
c   -1.065031
d    0.994695
e   -0.256169
f    0.509702
g   -1.259744
h   -1.287598
Name: A, dtype: float64

In [142]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])

print(df)
print('--------')
# Select all rows for multiple columns, say list[]
print (df.loc[:,['A','C']])

          A         B         C         D
a  1.150000 -0.898224  0.863379  0.699173
b -1.595967  0.713396  0.099974  0.861035
c  1.375809 -0.288982  1.596301 -0.301298
d  0.163590 -0.566750 -0.668633  0.425196
e  2.647472 -0.359073  0.683268 -1.121585
f -0.248587  0.645296 -0.095332 -1.016485
g -2.905046 -0.639556  0.849662  0.822721
h  1.447635 -0.651279 -1.913767 -1.099592
--------
          A         C
a  1.150000  0.863379
b -1.595967  0.099974
c  1.375809  1.596301
d  0.163590 -0.668633
e  2.647472  0.683268
f -0.248587 -0.095332
g -2.905046  0.849662
h  1.447635 -1.913767

In [144]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])

print(df)
print('--------')
# Select few rows for multiple columns, say list[]
print (df.loc[['a','b','f','h'],['A','C']])

          A         B         C         D
a -0.640647 -3.093143 -0.018874 -1.070931
b  1.231457 -0.307357  0.622364 -0.950260
c  0.320567 -1.030685  0.211068 -0.035858
d  1.932144  1.893074 -0.770702 -1.624783
e -0.697368 -0.046149  1.221530 -0.402800
f -0.055203 -0.711767  0.003873 -1.363633
g  2.016985 -1.369475  1.036261  1.587503
h -0.040226 -0.276718  0.039878 -1.862235
--------
          A         C
a -0.640647 -0.018874
b  1.231457  0.622364
f -0.055203  0.003873
h -0.040226  0.039878

In [145]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])

# Select range of rows for all columns
print (df.loc['a':'h'])

          A         B         C         D
a  1.978900  0.394523  0.334851  1.039620
b -0.488421 -0.652538  0.745068  0.645888
c  1.499717  0.035280 -0.612156 -0.463610
d -0.598905 -1.419700  0.717117 -0.749653
e  1.755266  2.560890  0.971560 -1.086996
f -0.544616 -0.229698  1.099470 -0.314157
g -0.524589 -0.272378  0.598330 -1.413835
h  0.960530 -1.427705  0.141867  0.657470

In [146]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])

print(df)
print('--------')
# for getting values with a boolean array
print (df.loc['a']>0)

          A         B         C         D
a  0.753313  0.918280 -0.280508  1.117732
b -0.903197  0.895804 -0.793415 -1.642170
c -0.941159  0.978717  1.849053  0.070323
d -1.568304 -1.314637 -0.617569  1.449242
e  1.747597  0.066807  0.364509 -0.252929
f -0.445130 -1.178216 -2.029896 -1.376230
g -1.178876 -1.099641  0.659298 -1.203584
h  0.191390  0.288599 -1.737058 -0.055012
--------
A     True
B     True
C    False
D     True
Name: a, dtype: bool

## .iloc()
Pandas provide various methods in order to get purely integer based indexing. Like python and numpy, these are 0-based indexing.

The various access methods are as follows −

- An Integer
- A list of integers
- A range of values

In [147]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])

# select all rows for a specific column
print (df.iloc[:4])

          A         B         C         D
0  0.602804  0.335743 -1.557700 -0.390637
1 -1.424392  0.262525  0.506933  1.001640
2  0.258066 -0.266593  0.356324 -1.956094
3  1.097986 -1.312778  0.722474 -0.796931

In [148]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])

# Integer slicing
print (df.iloc[:4])
print (df.iloc[1:5, 2:4])

          A         B         C         D
0  1.320969  0.211881  0.014616  0.719239
1 -0.401055  0.773753  0.148393 -0.075941
2  2.745113  1.390188 -1.184141  0.710436
3  0.171308 -1.020253 -0.865727 -0.031211
          C         D
1  0.148393 -0.075941
2 -1.184141  0.710436
3 -0.865727 -0.031211
4  0.505860  1.015835

In [149]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])

# Slicing through list of values
print (df.iloc[[1, 3, 5], [1, 3]])
print (df.iloc[1:3, :])
print (df.iloc[:,1:3])

          B         D
1  0.920923 -0.050724
3 -0.424778 -0.233053
5  0.916433  0.750110
          A         B         C         D
1 -0.166419  0.920923 -0.110296 -0.050724
2  1.660913  0.975492 -1.541172  0.613906
          B         C
0 -0.169770 -1.631414
1  0.920923 -0.110296
2  0.975492 -1.541172
3 -0.424778  0.330001
4 -1.108625 -1.942132
5  0.916433 -1.548272
6 -0.978517  0.392011
7 -1.044161  0.050906

# 14) Python Pandas - Statistical Functions

## Percent_change
Series, DatFrames and Panel, all have the function pct_change(). 

This function compares every element with its prior element and computes the change percentage.

In [153]:
s = pd.Series([1,2,3,4,5,4])
print (s.pct_change())

df = pd.DataFrame(np.random.randn(5, 2))
print (df)
print ('-----')
print (df.pct_change())

0         NaN
1    1.000000
2    0.500000
3    0.333333
4    0.250000
5   -0.200000
dtype: float64
          0         1
0 -0.397833 -0.666450
1  0.773928 -0.910957
2  0.436384 -0.710265
3  0.312070 -0.813244
4  0.606927 -3.319317
-----
          0         1
0       NaN       NaN
1 -2.945361  0.366881
2 -0.436144 -0.220309
3 -0.284873  0.144986
4  0.944841  3.081577

## Covariance
Covariance is applied on series data. 

Covariance measures the directional relationship between the returns on two assets. A positive covariance means that asset returns move together while a negative covariance means they move inversely

The Series object has a method cov to compute covariance between series objects. 

A will be excluded automatically.

In [157]:
s1 = pd.Series(np.random.randn(10))
s2 = pd.Series(np.random.randn(10))
print(s1)
print('----')
print(s2)
print('----')
print (s1.cov(s2))

0    0.582991
1   -0.451424
2   -0.896725
3   -0.160549
4   -1.394494
5    0.285174
6    0.369086
7    0.600121
8   -0.619606
9    1.865283
dtype: float64
----
0    1.570076
1   -0.832181
2   -0.275313
3   -1.504630
4    1.082287
5    0.477978
6    0.623116
7   -2.366043
8   -0.134520
9    1.061337
dtype: float64
----
1.5576966888571526
----
0.14277663105485358

In [159]:
# Covariance method when applied on a DataFrame, computes cov between all the columns.
frame = pd.DataFrame(np.random.randn(10, 5), columns=['a', 'b', 'c', 'd', 'e'])
print (frame['a'].cov(frame['b']))
print (frame.cov())

-0.2943954018192288
          a         b         c         d         e
a  1.107693 -0.294395  0.459045  0.027648  0.606500
b -0.294395  1.992142  0.384695  0.243970  0.041020
c  0.459045  0.384695  1.017495 -0.358177  0.244832
d  0.027648  0.243970 -0.358177  1.554691  0.048919
e  0.606500  0.041020  0.244832  0.048919  0.629052

## Correlation
Correlation shows the linear relationship between any two array of values (series). 

There are multiple methods to compute the correlation like pearson(default), spearman and kendall.

In [162]:
frame = pd.DataFrame(np.random.randn(10, 5), columns=['a', 'b', 'c', 'd', 'e'])

print(frame)
print('-----------')
print (frame['a'].corr(frame['b']))
print('-----------')
print (frame.corr())

          a         b         c         d         e
0  0.441678 -0.180913  1.223113 -1.091239 -0.149920
1  0.382027  0.836875 -1.696920  0.123200  0.425069
2 -0.108084  0.539072 -1.046926 -0.600511  0.450598
3 -1.106332  0.148094  0.631345 -0.282965  0.599713
4 -2.407169  0.428396 -0.948960  0.909304 -0.941714
5 -0.990910 -1.213830 -0.448957  1.009545  0.836346
6 -1.783301 -0.754662  0.678181  0.401389  2.842763
7  0.482467  1.110647 -0.687452  1.090277 -0.301668
8 -0.853196 -0.767867  1.100886  0.563283  1.439694
9 -0.236303 -1.308712  1.067584 -0.285621 -1.112487
-----------
0.30351441529829754
-----------
          a         b         c         d         e
a  1.000000  0.303514 -0.082003 -0.414772 -0.274815
b  0.303514  1.000000 -0.665677  0.028298 -0.261798
c -0.082003 -0.665677  1.000000 -0.359364  0.188506
d -0.414772  0.028298 -0.359364  1.000000  0.123479
e -0.274815 -0.261798  0.188506  0.123479  1.000000

## Data Ranking
Data Ranking produces ranking for each element in the array of elements. In case of ties, assigns the mean rank.

In [167]:
s = pd.Series(np.random.randn(5), index=list('abcde'))
print(s)
print('-----')
s['d'] = s['b'] # so there's a tie
print(s)
print('-----')
print (s.rank())

a    0.664107
b    0.322982
c    0.467965
d    0.001192
e   -0.927700
dtype: float64
-----
a    0.664107
b    0.322982
c    0.467965
d    0.322982
e   -0.927700
dtype: float64
-----
a    5.0
b    2.5
c    4.0
d    2.5
e    1.0
dtype: float64

Rank optionally takes a parameter ascending which by default is true; when false, data is reverse-ranked, with larger values assigned a smaller rank.

Rank supports different tie-breaking methods, specified with the method parameter −

- average − average rank of tied group

- min − lowest rank in the group

- max − highest rank in the group

- first − ranks assigned in the order they appear in the array

# 15) Python Pandas - Window Functions

Pandas provide few variants like rolling, expanding and exponentially moving weights for window statistics. 

Among these are sum, mean, median, variance, covariance, correlation, etc.

We will now learn how each of these can be applied on DataFrame objects.

## .rolling() Function
This function can be applied on a series of data. 

Specify the window=n argument and apply the appropriate statistical function on top of it.

Since the window size is 3, for first two elements there are nulls and from third the value will be the average of the n, n-1 and n-2 elements. 

Thus we can also apply various functions as mentioned above.

In [168]:
df = pd.DataFrame(np.random.randn(10, 4),
   index = pd.date_range('1/1/2000', periods=10),
   columns = ['A', 'B', 'C', 'D'])
print(df)
print('------------')
print (df.rolling(window=3).mean())

                   A         B         C         D
2000-01-01 -1.355406  0.969797 -0.092458 -0.142542
2000-01-02 -1.624228  0.707305 -0.504949  0.549216
2000-01-03  0.227567 -0.503743  0.344898 -1.740634
2000-01-04  0.243121  0.619472  0.882900  0.111458
2000-01-05  0.524945 -0.816169 -0.867034 -1.298130
2000-01-06  0.717560 -0.019823 -0.155710 -0.084693
2000-01-07 -0.023133 -1.143906  0.584284  0.932773
2000-01-08 -1.939812 -0.195755  0.390462  0.027241
2000-01-09 -0.395822 -0.139632 -0.776015 -0.523471
2000-01-10  0.386922  0.717159 -0.428217 -0.851800
------------
                   A         B         C         D
2000-01-01       NaN       NaN       NaN       NaN
2000-01-02       NaN       NaN       NaN       NaN
2000-01-03 -0.917356  0.391120 -0.084170 -0.444653
2000-01-04 -0.384514  0.274345  0.240950 -0.359987
2000-01-05  0.331878 -0.233480  0.120255 -0.975769
2000-01-06  0.495209 -0.072173 -0.046615 -0.423788
2000-01-07  0.406458 -0.659966 -0.146153 -0.150017
2000-01-08 -0.415128 -0.453162  0.273012  0.291774
2000-01-09 -0.786256 -0.493098  0.066244  0.145514
2000-01-10 -0.649571  0.127257 -0.271257 -0.449343

## .expanding() Function
This function can be applied on a series of data. 

Specify the min_periods=n argument and apply the appropriate statistical function on top of it.

In [169]:
df = pd.DataFrame(np.random.randn(10, 4),
   index = pd.date_range('1/1/2000', periods=10),
   columns = ['A', 'B', 'C', 'D'])
print(df)
print('------------')
print (df.expanding(min_periods=3).mean())

                   A         B         C         D
2000-01-01 -1.788799  0.122977  1.374484 -0.582391
2000-01-02  0.883520  1.180158  1.744566 -0.905274
2000-01-03  1.304840  1.063514 -0.181567 -0.819334
2000-01-04  1.584311  0.195699  0.624326 -0.722926
2000-01-05  0.270695  0.812317  0.120551 -1.017247
2000-01-06  0.213272  2.241546 -1.670690  0.250066
2000-01-07 -0.208292  0.124864 -1.417460 -1.032906
2000-01-08 -0.403341 -0.012454  0.697716 -1.379395
2000-01-09  0.162550  0.623233 -0.665754  0.779444
2000-01-10 -0.704732 -0.324605  0.735579 -0.279799
------------
                   A         B         C         D
2000-01-01       NaN       NaN       NaN       NaN
2000-01-02       NaN       NaN       NaN       NaN
2000-01-03  0.133187  0.788883  0.979161 -0.769000
2000-01-04  0.495968  0.640587  0.890452 -0.757481
2000-01-05  0.450914  0.674933  0.736472 -0.809434
2000-01-06  0.411307  0.936035  0.335278 -0.632851
2000-01-07  0.322793  0.820154  0.084887 -0.690002
2000-01-08  0.232026  0.716078  0.161491 -0.776176
2000-01-09  0.224306  0.705762  0.069575 -0.603329
2000-01-10  0.131402  0.602725  0.136175 -0.570976

## .ewm() Function
ewm is applied on a series of data. 

Specify any of the com, span, halflife argument and apply the appropriate statistical function on top of it. 

It assigns the weights exponentially.

Window functions are majorly used in finding the trends within the data graphically by smoothing the curve. 

If there is lot of variation in the everyday data and a lot of data points are available, then taking the samples and plotting is one method and applying the window computations and plotting the graph on the results is another method. 

By these methods, we can smooth the curve or the trend.

In [170]:
df = pd.DataFrame(np.random.randn(10, 4),
   index = pd.date_range('1/1/2000', periods=10),
   columns = ['A', 'B', 'C', 'D'])

print(df)
print('------------')
print (df.ewm(com=0.5).mean())

                   A         B         C         D
2000-01-01 -0.588514 -0.868976 -0.645838  1.527310
2000-01-02  0.828657  0.814584  1.304299 -0.490318
2000-01-03  0.149349 -0.759152 -1.448494 -1.069553
2000-01-04 -1.687603  0.629991 -0.156174  0.818893
2000-01-05 -0.159162  1.727522 -1.657568 -1.353714
2000-01-06  0.985551 -0.735970 -0.474191 -0.740767
2000-01-07 -0.762062 -1.018285 -0.239939 -0.157420
2000-01-08 -1.986198 -1.506184  1.237622 -0.731850
2000-01-09  0.053202 -0.163322  0.697033 -0.464737
2000-01-10  0.503914 -1.662618  1.209446  0.180170
------------
                   A         B         C         D
2000-01-01 -0.588514 -0.868976 -0.645838  1.527310
2000-01-02  0.474364  0.393694  0.816765  0.014089
2000-01-03  0.249354 -0.404430 -0.751491 -0.736124
2000-01-04 -1.058092  0.293804 -0.349652  0.313512
2000-01-05 -0.456329  1.253565 -1.225199 -0.802565
2000-01-06  0.506245 -0.074614 -0.723839 -0.761309
2000-01-07 -0.339680 -0.704016 -0.401092 -0.358532
2000-01-08 -1.437526 -1.238876  0.691551 -0.607448
2000-01-09 -0.443657 -0.521803  0.695206 -0.512303
2000-01-10  0.188068 -1.282360  1.038038 -0.050647

# 16) Python Pandas - Aggregations

Once the rolling, expanding and ewm objects are created, several methods are available to perform aggregations on data.

## Applying Aggregations on DataFrame
Let us create a DataFrame and apply aggregations on it.

In [172]:
df = pd.DataFrame(np.random.randn(10, 4),
   index = pd.date_range('1/1/2000', periods=10),
   columns = ['A', 'B', 'C', 'D'])

print (df)
print('------')
r = df.rolling(window=3,min_periods=1)
print (r)

                   A         B         C         D
2000-01-01  2.093084  0.650056 -0.504334 -1.112836
2000-01-02  0.645768 -0.696436  0.025225 -0.670260
2000-01-03 -0.319474  1.536701  0.478683  0.914832
2000-01-04 -1.356875  0.158510 -0.830118 -2.499415
2000-01-05  1.058257 -1.050805  0.462871  0.024862
2000-01-06  0.862037  0.127469  1.170546 -0.222535
2000-01-07  1.168986  1.075133  0.365091 -1.516365
2000-01-08 -0.528051  0.465073 -2.016672 -0.731254
2000-01-09  0.476977  0.410543  0.179917  1.654979
2000-01-10 -0.578692 -2.942543 -0.736697  0.514925
------
Rolling [window=3,min_periods=1,center=False,axis=0]

We can aggregate by passing a function to the entire DataFrame, or select a column via the standard get item method.

## Apply Aggregation on a Whole Dataframe

In [174]:
df = pd.DataFrame(np.random.randn(10, 4),
   index = pd.date_range('1/1/2000', periods=10),
   columns = ['A', 'B', 'C', 'D'])

print (df)
print('------')
r = df.rolling(window=3,min_periods=1)
print (r.aggregate(np.sum))

                   A         B         C         D
2000-01-01  0.354936 -0.102494 -2.154018 -0.413744
2000-01-02  0.894142 -0.125872 -0.719151 -1.698485
2000-01-03 -1.219417 -0.323212  0.377948 -0.389320
2000-01-04  0.938292  0.999271  0.254070 -0.775000
2000-01-05  0.646395  0.438859  0.517734  0.304511
2000-01-06  1.443373 -0.472571 -1.499498  0.665961
2000-01-07  0.978223 -1.210058  0.643449 -0.729435
2000-01-08 -0.659633 -0.901293  0.390263 -0.210567
2000-01-09  2.895695  0.116966 -1.021631  0.105244
2000-01-10  0.560988  0.216605 -2.804008 -1.659948
------
                   A         B         C         D
2000-01-01  0.354936 -0.102494 -2.154018 -0.413744
2000-01-02  1.249079 -0.228366 -2.873169 -2.112228
2000-01-03  0.029662 -0.551578 -2.495220 -2.501549
2000-01-04  0.613018  0.550188 -0.087133 -2.862805
2000-01-05  0.365270  1.114918  1.149753 -0.859810
2000-01-06  3.028060  0.965560 -0.727694  0.195471
2000-01-07  3.067991 -1.243770 -0.338315  0.241036
2000-01-08  1.761963 -2.583922 -0.465786 -0.274041
2000-01-09  3.214285 -1.994385  0.012081 -0.834758
2000-01-10  2.797050 -0.567722 -3.435377 -1.765270

## Apply Aggregation on a Single Column of a Dataframe

In [176]:
df = pd.DataFrame(np.random.randn(10, 4),
   index = pd.date_range('1/1/2000', periods=10),
   columns = ['A', 'B', 'C', 'D'])

print (df)
print('--------')
r = df.rolling(window=3,min_periods=1)
print (r['A'].aggregate(np.sum))

                   A         B         C         D
2000-01-01 -1.281795 -1.480539  0.552854  1.082288
2000-01-02  1.370825  0.631940  0.348050  0.897265
2000-01-03  0.948595 -1.441848 -0.706854 -0.228789
2000-01-04  0.585888  0.515916  0.452768 -0.906791
2000-01-05 -1.709108 -1.110694  1.417523  0.013303
2000-01-06  0.924583  0.526121 -1.439100  1.476905
2000-01-07 -0.462436 -0.935844 -0.903982 -1.486836
2000-01-08 -0.089715 -1.318669  0.445494  0.820520
2000-01-09  1.255038  0.106238  0.158039  0.679045
2000-01-10 -0.408477 -1.251715 -0.629454 -0.046438
--------
2000-01-01   -1.281795
2000-01-02    0.089030
2000-01-03    1.037625
2000-01-04    2.905308
2000-01-05   -0.174625
2000-01-06   -0.198636
2000-01-07   -1.246960
2000-01-08    0.372432
2000-01-09    0.702887
2000-01-10    0.756845
Freq: D, Name: A, dtype: float64

## Apply Aggregation on Multiple Columns of a DataFrame

In [178]:
df = pd.DataFrame(np.random.randn(10, 4),
   index = pd.date_range('1/1/2000', periods=10),
   columns = ['A', 'B', 'C', 'D'])

print (df)
print('----------')
r = df.rolling(window=3,min_periods=1)
print (r[['A','B']].aggregate(np.sum))

                   A         B         C         D
2000-01-01  1.549723 -0.259055 -0.949065 -0.356619
2000-01-02  1.173574  1.428391  0.513213 -1.756689
2000-01-03 -0.308266 -0.460753 -0.892924  0.568122
2000-01-04 -0.893599  0.057230 -1.364423 -0.584923
2000-01-05 -1.798258 -0.655925 -1.905614 -1.270296
2000-01-06 -1.536146  1.437252  0.778125  0.510253
2000-01-07 -0.920759 -0.311227 -1.652505  0.319493
2000-01-08 -0.569061  0.009078 -0.667197 -1.474495
2000-01-09 -0.032741 -0.095448 -0.428715  0.495496
2000-01-10  1.253885  0.749009  2.121935 -1.868863
----------
                   A         B
2000-01-01  1.549723 -0.259055
2000-01-02  2.723298  1.169337
2000-01-03  2.415031  0.708584
2000-01-04 -0.028291  1.024869
2000-01-05 -3.000124 -1.059448
2000-01-06 -4.228003  0.838557
2000-01-07 -4.255162  0.470100
2000-01-08 -3.025966  1.135103
2000-01-09 -1.522561 -0.397597
2000-01-10  0.652082  0.662639

## Apply Multiple Functions on a Single Column of a DataFrame

In [179]:
df = pd.DataFrame(np.random.randn(10, 4),
   index = pd.date_range('1/1/2000', periods=10),
   columns = ['A', 'B', 'C', 'D'])

print (df)
print('------')
r = df.rolling(window=3,min_periods=1)
print (r['A'].aggregate([np.sum,np.mean]))

                   A         B         C         D
2000-01-01  0.119215 -1.175641 -1.395739  0.231074
2000-01-02  1.406545 -0.423840  0.750759  0.279515
2000-01-03  0.515560  1.848297 -2.166943  0.685413
2000-01-04 -0.165913  1.152795 -0.995585  1.132788
2000-01-05  1.565688 -0.297525 -0.267107  0.116237
2000-01-06  0.456168 -0.078110  0.003799 -1.173854
2000-01-07 -1.332433  1.620274 -0.802072  1.209821
2000-01-08  0.154867 -0.595071 -1.030937 -0.224319
2000-01-09 -0.155898  0.744708  1.075321  0.019986
2000-01-10 -0.419343 -0.261092  1.389446 -2.066941
------
                 sum      mean
2000-01-01  0.119215  0.119215
2000-01-02  1.525760  0.762880
2000-01-03  2.041320  0.680440
2000-01-04  1.756193  0.585398
2000-01-05  1.915335  0.638445
2000-01-06  1.855943  0.618648
2000-01-07  0.689423  0.229808
2000-01-08 -0.721398 -0.240466
2000-01-09 -1.333465 -0.444488
2000-01-10 -0.420374 -0.140125

## Apply Multiple Functions on Multiple Columns of a DataFrame

In [180]:
df = pd.DataFrame(np.random.randn(10, 4),
   index = pd.date_range('1/1/2000', periods=10),
   columns = ['A', 'B', 'C', 'D'])

print (df)
print('------')
r = df.rolling(window=3,min_periods=1)
print (r[['A','B']].aggregate([np.sum,np.mean]))

                   A         B         C         D
2000-01-01  0.649054 -0.115639  1.152082  0.415603
2000-01-02  0.677069  1.615485  0.109536 -0.657105
2000-01-03 -0.670904  0.158960 -1.459623 -1.321065
2000-01-04 -0.993384  0.456426 -0.235304  0.346353
2000-01-05  0.467660 -2.569621  1.183904  1.152986
2000-01-06  1.637219  1.320414 -0.556544  0.455153
2000-01-07  0.153414  0.775801 -1.319891  0.154426
2000-01-08 -0.332921  0.319636 -0.566834 -2.109508
2000-01-09 -0.295427 -0.524007 -0.229611 -0.165649
2000-01-10  0.193247 -0.819361  1.902243  0.251754
------
                   A                   B
                 sum      mean       sum      mean
2000-01-01  0.649054  0.649054 -0.115639 -0.115639
2000-01-02  1.326123  0.663062  1.499846  0.749923
2000-01-03  0.655219  0.218406  1.658806  0.552935
2000-01-04 -0.987219 -0.329073  2.230872  0.743624
2000-01-05 -1.196629 -0.398876 -1.954234 -0.651411
2000-01-06  1.111494  0.370498 -0.792781 -0.264260
2000-01-07  2.258293  0.752764 -0.473407 -0.157802
2000-01-08  1.457712  0.485904  2.415851  0.805284
2000-01-09 -0.474934 -0.158311  0.571430  0.190477
2000-01-10 -0.435101 -0.145034 -1.023732 -0.341244

## Apply Different Functions to Different Columns of a Dataframe

In [181]:
df = pd.DataFrame(np.random.randn(3, 4),
   index = pd.date_range('1/1/2000', periods=3),
   columns = ['A', 'B', 'C', 'D'])

print(df)
print('------')
r = df.rolling(window=3,min_periods=1)
print(r.aggregate({'A' : np.sum,'B' : np.mean}))

                   A         B         C         D
2000-01-01  1.039365  0.181513  1.229984  0.355142
2000-01-02 -1.610152 -0.965870  1.922440 -0.491289
2000-01-03  0.392054  1.616966  1.165091 -0.905374
------
                   A         B
2000-01-01  1.039365  0.181513
2000-01-02 -0.570786 -0.392178
2000-01-03 -0.178732  0.277537

# 17) Python Pandas - Missing Data

Missing data is always a problem in real life scenarios. 

Areas like machine learning and data mining face severe issues in the accuracy of their model predictions because of poor quality of data caused by missing values. 

In these areas, missing value treatment is a major point of focus to make their models more accurate and valid.

In [182]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f','h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print (df)

        one       two     three
a -0.257515  3.059025 -0.513315
b       NaN       NaN       NaN
c  0.058466 -0.278135 -1.467531
d       NaN       NaN       NaN
e -1.095764 -0.192962 -0.693076
f  0.360707 -0.862886  0.623427
g       NaN       NaN       NaN
h -1.854477  0.705064  0.480665

## Check for Missing Values
To make detecting missing values easier (and across different array dtypes), 

Pandas provides the isnull() and notnull() functions, which are also methods on Series and DataFrame objects −

In [183]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f','h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print (df['one'].isnull())

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [184]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f','h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print (df['one'].notnull())

a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: one, dtype: bool

## Calculations with Missing Data

When summing data, NA will be treated as Zero

If the data are all NA, then the result will be NA

In [185]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f','h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print (df['one'].sum())

1.3892925040718338

In [186]:
df = pd.DataFrame(index=[0,1,2,3,4,5],columns=['one','two'])
print (df['one'].sum())

0

## Cleaning / Filling Missing Data
Pandas provides various methods for cleaning the missing values. The fillna function can “fill in” NA values with non-null data in a couple of ways, which we have illustrated in the following sections.

### Replace NaN with a Scalar Value
The following program shows how you can replace "NaN" with "0".

In [187]:
df = pd.DataFrame(np.random.randn(3, 3), index=['a', 'c', 'e'],columns=['one','two', 'three'])

df = df.reindex(['a', 'b', 'c'])

print (df)
print ("NaN replaced with '0':")
print (df.fillna(0))

        one       two     three
a  0.033392 -0.704642  0.038243
b       NaN       NaN       NaN
c -0.668708 -1.837438 -0.207615
NaN replaced with '0':
        one       two     three
a  0.033392 -0.704642  0.038243
b  0.000000  0.000000  0.000000
c -0.668708 -1.837438 -0.207615

### Fill NA Forward and Backward
Using the concepts of filling discussed in the ReIndexing Chapter we will fill the missing values.

|Sr.No	|Method & Action|
|-|-|
|1	|pad/fill <br> Fill methods Forward|
|2	|bfill/backfill <br>Fill methods Backward|

In [188]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f','h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print (df.fillna(method='pad'))

        one       two     three
a -1.051505 -0.947813 -1.361278
b -1.051505 -0.947813 -1.361278
c  1.231296 -0.130872 -0.885178
d  1.231296 -0.130872 -0.885178
e -0.963283 -0.994920 -0.843728
f -0.987930 -2.069104  1.179432
g -0.987930 -2.069104  1.179432
h -0.434235 -1.229606 -0.115774

In [189]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f','h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print(df.fillna(method='backfill'))

        one       two     three
a -0.374283 -0.406474 -0.003246
b -3.447744 -1.705291 -0.052140
c -3.447744 -1.705291 -0.052140
d  0.974502  0.009645  0.227220
e  0.974502  0.009645  0.227220
f  1.877391  1.305844 -0.611206
g -1.071785  0.069925 -2.235651
h -1.071785  0.069925 -2.235651

## Drop Missing Values
If you want to simply exclude the missing values, then use the dropna function along with the axis argument. 

By default, axis=0, i.e., along row, which means that if any value within a row is NA then the whole row is excluded.

In [191]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f','h'],columns=['one', 'two', 'three'])
print (df)
print('-------')
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print (df.dropna())

        one       two     three
a  0.331696  2.313748 -1.456531
c  0.729750  1.086801 -1.496598
e -0.532308 -0.241517 -0.200317
f  1.139250  0.769868  2.205306
h -1.230757  0.137145  0.709181
-------
        one       two     three
a  0.331696  2.313748 -1.456531
c  0.729750  1.086801 -1.496598
e -0.532308 -0.241517 -0.200317
f  1.139250  0.769868  2.205306
h -1.230757  0.137145  0.709181

In [192]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f','h'],columns=['one', 'two', 'three'])
print (df)
print('-------')
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print (df.dropna(axis=1))

        one       two     three
a -1.305326  0.904209 -1.137406
c  0.919570 -1.033392 -0.776335
e -0.008856 -0.676585  0.288061
f  0.746275 -1.014291  1.150162
h  0.502426  0.707054  0.507842
-------
Empty DataFrame
Columns: []
Index: [a, b, c, d, e, f, g, h]

## Replace Missing (or) Generic Values
Many times, we have to replace a generic value with some specific value. 

We can achieve this by applying the replace method.

Replacing NA with a scalar value is equivalent behavior of the fillna() function.

In [194]:
df = pd.DataFrame({'one':[10,20,30,40,50,2000], 'two':[1000,0,30,40,50,60]})
print (df)
print('-------')
print (df.replace({1000:10,2000:60}))

    one   two
0    10  1000
1    20     0
2    30    30
3    40    40
4    50    50
5  2000    60
-------
   one  two
0   10   10
1   20    0
2   30   30
3   40   40
4   50   50
5   60   60

# 18) Python Pandas - GroupBy

Any groupby operation involves one of the following operations on the original object. They are −

- Splitting the Object
- Applying a function
- Combining the results

In many situations, we split the data into sets and we apply some functionality on each subset. In the apply functionality, we can perform the following operations −

- Aggregation − computing a summary statistic
- Transformation − perform some group-specific operation
- Filtration − discarding the data with some condition

Let us now create a DataFrame object and perform all the operations on it −

## Split Data into Groups
Pandas object can be split into any of their objects. There are multiple ways to split an object like −

- obj.groupby('key')
- obj.groupby(['key1','key2'])
- obj.groupby(key,axis=1)

Let us now see how the grouping objects can be applied to the DataFrame object

In [203]:
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

print (df.groupby('Team').groups)

{'Devils': Int64Index([2, 3], dtype='int64'), 'Kings': Int64Index([4, 6, 7], dtype='int64'), 'Riders': Int64Index([0, 1, 8, 11], dtype='int64'), 'Royals': Int64Index([9, 10], dtype='int64'), 'kings': Int64Index([5], dtype='int64')}

In [204]:
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)
print (df.groupby(['Team','Year']).groups)

{('Devils', 2014): Int64Index([2], dtype='int64'), ('Devils', 2015): Int64Index([3], dtype='int64'), ('Kings', 2014): Int64Index([4], dtype='int64'), ('Kings', 2016): Int64Index([6], dtype='int64'), ('Kings', 2017): Int64Index([7], dtype='int64'), ('Riders', 2014): Int64Index([0], dtype='int64'), ('Riders', 2015): Int64Index([1], dtype='int64'), ('Riders', 2016): Int64Index([8], dtype='int64'), ('Riders', 2017): Int64Index([11], dtype='int64'), ('Royals', 2014): Int64Index([9], dtype='int64'), ('Royals', 2015): Int64Index([10], dtype='int64'), ('kings', 2015): Int64Index([5], dtype='int64')}

## Iterating through Groups
With the groupby object in hand, we can iterate through the object similar to itertools.obj.

By default, the groupby object has the same label name as the group name.

In [207]:
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

grouped = df.groupby('Year')

print(grouped.groups)
print('-----')

for name,group in grouped:
   print (name)
   print (group)

{2014: Int64Index([0, 2, 4, 9], dtype='int64'), 2015: Int64Index([1, 3, 5, 10], dtype='int64'), 2016: Int64Index([6, 8], dtype='int64'), 2017: Int64Index([7, 11], dtype='int64')}
-----
2014
     Team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   Kings     3  2014     741
9  Royals     4  2014     701
2015
      Team  Rank  Year  Points
1   Riders     2  2015     789
3   Devils     3  2015     673
5    kings     4  2015     812
10  Royals     1  2015     804
2016
     Team  Rank  Year  Points
6   Kings     1  2016     756
8  Riders     2  2016     694
2017
      Team  Rank  Year  Points
7    Kings     1  2017     788
11  Riders     2  2017     690

## Select a Group
Using the get_group() method, we can select a single group.

In [208]:
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

grouped = df.groupby('Year')
print (grouped.get_group(2014))

     Team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   Kings     3  2014     741
9  Royals     4  2014     701

## Aggregations
An aggregated function returns a single aggregated value for each group. 

Once the group by object is created, several aggregation operations can be performed on the grouped data.

An obvious one is aggregation via the aggregate or equivalent agg method −

In [209]:
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

grouped = df.groupby('Year')
print (grouped['Points'].agg(np.mean))

Year
2014    795.25
2015    769.50
2016    725.00
2017    739.00
Name: Points, dtype: float64

In [211]:
# Another way to see the size of each group is by applying the size() function −

ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

# Attribute Access in Python Pandas
grouped = df.groupby('Team')
print (grouped.agg(np.size))

        Rank  Year  Points
Team
Devils     2     2       2
Kings      3     3       3
Riders     4     4       4
Royals     2     2       2
kings      1     1       1

### Applying Multiple Aggregation Functions at Once
With grouped Series, you can also pass a list or dict of functions to do aggregation with, and generate DataFrame as output −

In [212]:
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

grouped = df.groupby('Team')
print (grouped['Points'].agg([np.sum, np.mean, np.std]))

         sum        mean         std
Team
Devils  1536  768.000000  134.350288
Kings   2285  761.666667   24.006943
Riders  3049  762.250000   88.567771
Royals  1505  752.500000   72.831998
kings    812  812.000000         NaN

## Transformations
Transformation on a group or a column returns an object that is indexed the same size of that is being grouped. 

Thus, the transform should return a result that is the same size as that of a group chunk.

In [213]:
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

grouped = df.groupby('Team')
score = lambda x: (x - x.mean()) / x.std()*10
print (grouped.transform(score))

         Rank       Year     Points
0  -15.000000 -11.618950  12.843272
1    5.000000  -3.872983   3.020286
2   -7.071068  -7.071068   7.071068
3    7.071068   7.071068  -7.071068
4   11.547005 -10.910895  -8.608621
5         NaN        NaN        NaN
6   -5.773503   2.182179  -2.360428
7   -5.773503   8.728716  10.969049
8    5.000000   3.872983  -7.705963
9    7.071068  -7.071068  -7.071068
10  -7.071068   7.071068   7.071068
11   5.000000  11.618950  -8.157595

## Filtration
Filtration filters the data on a defined criteria and returns the subset of data. 

The filter() function is used to filter the data.

In [214]:
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

print (df.groupby('Team').filter(lambda x: len(x) >= 3))

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
4    Kings     3  2014     741
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
11  Riders     2  2017     690

In the above filter condition, we are asking to return the teams which have participated three or more times in IPL.

# 19) Python Pandas - Merging/Joining

Pandas has full-featured, high performance in-memory join operations idiomatically very similar to relational databases like SQL.

Pandas provides a single function, merge, as the entry point for all standard database join operations between DataFrame objects −

Here, we have used the following parameters −

- left − A DataFrame object.

- right − Another DataFrame object.

- on − Columns (names) to join on. Must be found in both the left and right DataFrame objects.

- left_on − Columns from the left DataFrame to use as keys. Can either be column names or arrays with length equal to the length of the DataFrame.

- right_on − Columns from the right DataFrame to use as keys. Can either be column names or arrays with length equal to the length of the DataFrame.

- left_index − If True, use the index (row labels) from the left DataFrame as its join key(s). In case of a DataFrame with a MultiIndex (hierarchical), the number of levels must match the number of join keys from the right DataFrame.

- right_index − Same usage as left_index for the right DataFrame.

- how − One of 'left', 'right', 'outer', 'inner'. Defaults to inner. Each method has been described below.

- sort − Sort the result DataFrame by the join keys in lexicographical order. Defaults to True, setting to False will improve the performance substantially in many cases.

Let us now create two different DataFrames and perform the merging operations on it.

In [216]:
# data
left = pd.DataFrame({
   'id':[1,2,3,4,5],
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5']})
right = pd.DataFrame(
   {'id':[1,2,3,4,5],
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5']})
print (left)
print (right)

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub6
4   5  Ayoung       sub5
   id   Name subject_id
0   1  Billy       sub2
1   2  Brian       sub4
2   3   Bran       sub3
3   4  Bryce       sub6
4   5  Betty       sub5

In [215]:
# Merge Two DataFrames on a Key

left = pd.DataFrame({
   'id':[1,2,3,4,5],
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5']})
right = pd.DataFrame({
	'id':[1,2,3,4,5],
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5']})
print (pd.merge(left,right,on='id'))

   id  Name_x subject_id_x Name_y subject_id_y
0   1    Alex         sub1  Billy         sub2
1   2     Amy         sub2  Brian         sub4
2   3   Allen         sub4   Bran         sub3
3   4   Alice         sub6  Bryce         sub6
4   5  Ayoung         sub5  Betty         sub5

## Merge Using 'how' Argument

The how argument to merge specifies how to determine which keys are to be included in the resulting table. 

If a key combination does not appear in either the left or the right tables, the values in the joined table will be NA.

Here is a summary of the how options and their SQL equivalent names −

|Merge Method	|SQL Equivalent|Description|
|-|-|-|
|left|	LEFT OUTER JOIN	|Use keys from left object|
|right|	RIGHT OUTER JOIN	|Use keys from right object|
|outer|	FULL OUTER JOIN	|Use union of keys|
|inner|	INNER JOIN	|Use intersection of keys|

In [219]:
# Left Join
left = pd.DataFrame({
   'id':[1,2,3,4,5],
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5']})
right = pd.DataFrame({
   'id':[1,2,3,4,5],
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5']})
print(left);
print('---------')
print(right);
print('---------')
print (pd.merge(left, right, on='subject_id', how='left'))

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub6
4   5  Ayoung       sub5
---------
   id   Name subject_id
0   1  Billy       sub2
1   2  Brian       sub4
2   3   Bran       sub3
3   4  Bryce       sub6
4   5  Betty       sub5
---------
   id_x  Name_x subject_id  id_y Name_y
0     1    Alex       sub1   NaN    NaN
1     2     Amy       sub2   1.0  Billy
2     3   Allen       sub4   2.0  Brian
3     4   Alice       sub6   4.0  Bryce
4     5  Ayoung       sub5   5.0  Betty

In [221]:
# Right Join
left = pd.DataFrame({
   'id':[1,2,3,4,5],
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5']})
right = pd.DataFrame({
   'id':[1,2,3,4,5],
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5']})
print(left);
print('---------')
print(right);
print('---------')
print (pd.merge(left, right, on='subject_id', how='right'))

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub6
4   5  Ayoung       sub5
---------
   id   Name subject_id
0   1  Billy       sub2
1   2  Brian       sub4
2   3   Bran       sub3
3   4  Bryce       sub6
4   5  Betty       sub5
---------
   id_x  Name_x subject_id  id_y Name_y
0   2.0     Amy       sub2     1  Billy
1   3.0   Allen       sub4     2  Brian
2   4.0   Alice       sub6     4  Bryce
3   5.0  Ayoung       sub5     5  Betty
4   NaN     NaN       sub3     3   Bran

In [222]:
# Outer Join
left = pd.DataFrame({
   'id':[1,2,3,4,5],
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5']})
right = pd.DataFrame({
   'id':[1,2,3,4,5],
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5']})
print(left);
print('---------')
print(right);
print('---------')
print (pd.merge(left, right, how='outer', on='subject_id'))

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub6
4   5  Ayoung       sub5
---------
   id   Name subject_id
0   1  Billy       sub2
1   2  Brian       sub4
2   3   Bran       sub3
3   4  Bryce       sub6
4   5  Betty       sub5
---------
   id_x  Name_x subject_id  id_y Name_y
0   1.0    Alex       sub1   NaN    NaN
1   2.0     Amy       sub2   1.0  Billy
2   3.0   Allen       sub4   2.0  Brian
3   4.0   Alice       sub6   4.0  Bryce
4   5.0  Ayoung       sub5   5.0  Betty
5   NaN     NaN       sub3   3.0   Bran

In [223]:
# Inner Join
# Joining will be performed on index. 
# Join operation honors the object on which it is called. 
# So, a.join(b) is not equal to b.join(a).

left = pd.DataFrame({
   'id':[1,2,3,4,5],
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5']})
right = pd.DataFrame({
   'id':[1,2,3,4,5],
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5']})
print(left);
print('---------')
print(right);
print('---------')
print(pd.merge(left, right, on='subject_id', how='inner'))

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub6
4   5  Ayoung       sub5
---------
   id   Name subject_id
0   1  Billy       sub2
1   2  Brian       sub4
2   3   Bran       sub3
3   4  Bryce       sub6
4   5  Betty       sub5
---------
   id_x  Name_x subject_id  id_y Name_y
0     2     Amy       sub2     1  Billy
1     3   Allen       sub4     2  Brian
2     4   Alice       sub6     4  Bryce
3     5  Ayoung       sub5     5  Betty

# 20) Python Pandas - Concatenation
Pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects.

objs − This is a sequence or mapping of Series, DataFrame, or Panel objects.

axis − {0, 1, ...}, default 0. This is the axis to concatenate along.

join − {‘inner’, ‘outer’}, default ‘outer’. How to handle indexes on other axis(es). Outer for union and inner for intersection.

ignore_index − boolean, default False. If True, do not use the index values on the concatenation axis. The resulting axis will be labeled 0, ..., n - 1.

join_axes − This is the list of Index objects. Specific indexes to use for the other (n-1) axes instead of performing inner/outer set logic.

## Concatenating Objects
The concat function does all of the heavy lifting of performing concatenation operations along an axis. 

Let us create different objects and do concatenation.